create DATABASE db_blog;

CREATE TABLE IF NOT EXISTS `tb_user` (
        `id` integer AUTO_INCREMENT NOT NULL PRIMARY KEY,
        `name` varchar(40) NOT NULL DEFAULT ''  UNIQUE,
        `nickname` varchar(40) NOT NULL DEFAULT 'admin' ,
        `password` varchar(100) NOT NULL DEFAULT 'admin' ,
        `date` date
    ) ENGINE=INNODB;

CREATE TABLE IF NOT EXISTS `tb_blog` (
        `id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY,
        `title` varchar(100) NOT NULL DEFAULT '' ,
        `abstract` varchar(200),
        `article` longtext,
        `author` varchar(40) NOT NULL DEFAULT '' ,
        `tags` varchar(40) NOT NULL DEFAULT 'others' ,
        `classify` varchar(40) NOT NULL DEFAULT 'others' ,
        `postdate` date NOT NULL,
        `modify_date` date NOT NULL,
        `rmflag` integer NOT NULL DEFAULT 0
    ) ENGINE=INNODB;